body {
    width: 80%;
    max-width: 80%;
    margin: auto;
}

.barra {
    min-height: 60px;
    min-width: initial;
    font-size: 35px;
    color: white;
    background: #000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}



.texto {
    font-family: Arial;
    color: firebrick;
    top: 280px;
    padding: 1px;
    text-decoration: none;
    position: sticky;
    height: 30px;
    width: 179px;
    font-size: 15px;
}

    .texto h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.nome {
    font-family: Arial;
    text-align: left;
    color: darkred;
    font-size: 50px;
    font-weight: bold;
    margin-top: -130px;
    margin-left: 150px;
    width: 100%;
}

.sinopse {
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    text-align: justify;
}

.detailsLivro {
    margin-top: 40px;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}

.autor {
    font-family: Arial;
    font-weight: bold;
    color: black;
    text-decoration: none;
}


/*Estilo do Index dos Livros*/
.listalivros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cadalivro {
    width: 20%;
    height: 326px;
    overflow-y: hidden;
    max-width: initial
}
